{#include base.html}
{#title}CDs{/title}
{#body}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Music Company</th>
            <th scope="col">Genre</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {#for cd in cds}
        <tr>
            <th scope="row">{cd.id}</th>
            <th>{cd.title}</th>
            <th>{cd.musicCompany}</th>
            <th>{cd.genre}</th>
            <th>{cd.price}</th>
        </tr>
        {/for}
</table>
{/body}
{/include}